## FPL Fantasy Premier League Data Analysis

This notebook is intended to be the formal ADE for FPL data. It collects
useful data from other notebooks in this directory.  The primary source
is the data collected by vaastav in https://github.com/vaastav/Fantasy-Premier-League.git

We use that data as the basis of the analysis.  The goal is to figure out which elements
in the data are useful for building a model that can make weekly recommendations for
a user of the FPL game.

In [2]:
# Imports to collect data and 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# I use emacs ein.  These settings make the plots visible with dark emacs background
plt.rcParams["figure.facecolor"] = "white"
plt.rcParams["axes.facecolor"] = "white"
plt.rcParams["savefig.facecolor"] = "white"

In [5]:
# load all four years of data for players.  Start with the raw data.

years = ['2016-17', '2017-18', '2018-19', '2019-20']

praw = {}
for y in years:
    praw[y] = pd.read_csv("data/{:}/players_raw.csv".format(y), index_col='id')
    praw[y].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 1 to 683
Data columns (total 56 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   assists                       683 non-null    int64
 1   bonus                         683 non-null    int64
 2   bps                           683 non-null    int64
 3   chance_of_playing_next_round  683 non-null    object
 4   chance_of_playing_this_round  683 non-null    object
 5   clean_sheets                  683 non-null    int64
 6   code                          683 non-null    int64
 7   cost_change_event             683 non-null    int64
 8   cost_change_event_fall        683 non-null    int64
 9   cost_change_start             683 non-null    int64
 10  cost_change_start_fall        683 non-null    int64
 11  creativity                    683 non-null    float64
 12  dreamteam_count               683 non-null    int64
 13  ea_index                      683 non-null    int64
 14  element_type                  683 non-null    int64
 15  ep_next                       683 non-null    object
 16  ep_this                       683 non-null    float64
 17  event_points                  683 non-null    int64
 18  first_name                    683 non-null    object
 19  form                          683 non-null    float64
 20  goals_conceded                683 non-null    int64
 21  goals_scored                  683 non-null    int64
 22  ict_index                     683 non-null    float64
 23  in_dreamteam                  683 non-null    bool
 24  influence                     683 non-null    float64
 25  loaned_in                     683 non-null    int64
 26  loaned_out                    683 non-null    int64
 27  loans_in                      683 non-null    int64
 28  loans_out                     683 non-null    int64
 29  minutes                       683 non-null    int64
 30  news                          185 non-null    object
 31  now_cost                      683 non-null    int64
 32  own_goals                     683 non-null    int64
 33  penalties_missed              683 non-null    int64
 34  penalties_saved               683 non-null    int64
 35  photo                         683 non-null    object
 36  points_per_game               683 non-null    float64
 37  red_cards                     683 non-null    int64
 38  saves                         683 non-null    int64
 39  second_name                   683 non-null    object
 40  selected_by_percent           683 non-null    float64
 41  special                       683 non-null    bool
 42  squad_number                  683 non-null    object
 43  status                        683 non-null    object
 44  team                          683 non-null    int64
 45  team_code                     683 non-null    int64
 46  threat                        683 non-null    float64
 47  total_points                  683 non-null    int64
 48  transfers_in                  683 non-null    int64
 49  transfers_in_event            683 non-null    int64
 50  transfers_out                 683 non-null    int64
 51  transfers_out_event           683 non-null    int64
 52  value_form                    683 non-null    float64
 53  value_season                  683 non-null    float64
 54  web_name                      683 non-null    object
 55  yellow_cards                  683 non-null    int64
dtypes: bool(2), float64(10), int64(34), object(10)
memory usage: 294.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 647 entries, 1 to 636
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   assists                       647 non-null    int64
 1   bonus                         647 non-null    int64
 2   bps                           647 non-null    int64
 3   chance_of_playing_next_round  647 non-null    object
 4   chance_of_playing_this_round  647 non-null    object
 5   clean_sheets                  647 non-null    int64
 6   code                          647 non-null    int64
 7   cost_change_event             647 non-null    int64
 8   cost_change_event_fall        647 non-null    int64
 9   cost_change_start             647 non-null    int64
 10  cost_change_start_fall        647 non-null    int64
 11  creativity                    647 non-null    float64
 12  dreamteam_count               647 non-null    int64
 13  ea_index                      647 non-null    int64
 14  element_type                  647 non-null    int64
 15  ep_next                       647 non-null    object
 16  ep_this                       647 non-null    float64
 17  event_points                  647 non-null    int64
 18  first_name                    647 non-null    object
 19  form                          647 non-null    float64
 20  goals_conceded                647 non-null    int64
 21  goals_scored                  647 non-null    int64
 22  ict_index                     647 non-null    float64
 23  in_dreamteam                  647 non-null    bool
 24  influence                     647 non-null    float64
 25  loaned_in                     647 non-null    int64
 26  loaned_out                    647 non-null    int64
 27  loans_in                      647 non-null    int64
 28  loans_out                     647 non-null    int64
 29  minutes                       647 non-null    int64
 30  news                          180 non-null    object
 31  news_added                    647 non-null    object
 32  now_cost                      647 non-null    int64
 33  own_goals                     647 non-null    int64
 34  penalties_missed              647 non-null    int64
 35  penalties_saved               647 non-null    int64
 36  photo                         647 non-null    object
 37  points_per_game               647 non-null    float64
 38  red_cards                     647 non-null    int64
 39  saves                         647 non-null    int64
 40  second_name                   647 non-null    object
 41  selected_by_percent           647 non-null    float64
 42  special                       647 non-null    bool
 43  squad_number                  647 non-null    object
 44  status                        647 non-null    object
 45  team                          647 non-null    int64
 46  team_code                     647 non-null    int64
 47  threat                        647 non-null    float64
 48  total_points                  647 non-null    int64
 49  transfers_in                  647 non-null    int64
 50  transfers_in_event            647 non-null    int64
 51  transfers_out                 647 non-null    int64
 52  transfers_out_event           647 non-null    int64
 53  value_form                    647 non-null    float64
 54  value_season                  647 non-null    float64
 55  web_name                      647 non-null    object
 56  yellow_cards                  647 non-null    int64
dtypes: bool(2), float64(10), int64(34), object(11)
memory usage: 284.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 624 entries, 1 to 596
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   assists                       624 non-null    int64
 1   bonus                         624 non-null    int64
 2   bps                           624 non-null    int64
 3   chance_of_playing_next_round  624 non-null    object
 4   chance_of_playing_this_round  624 non-null    object
 5   clean_sheets                  624 non-null    int64
 6   code                          624 non-null    int64
 7   cost_change_event             624 non-null    int64
 8   cost_change_event_fall        624 non-null    int64
 9   cost_change_start             624 non-null    int64
 10  cost_change_start_fall        624 non-null    int64
 11  creativity                    624 non-null    float64
 12  dreamteam_count               624 non-null    int64
 13  ea_index                      624 non-null    int64
 14  element_type                  624 non-null    int64
 15  ep_next                       624 non-null    object
 16  ep_this                       624 non-null    float64
 17  event_points                  624 non-null    int64
 18  first_name                    624 non-null    object
 19  form                          624 non-null    float64
 20  goals_conceded                624 non-null    int64
 21  goals_scored                  624 non-null    int64
 22  ict_index                     624 non-null    float64
 23  in_dreamteam                  624 non-null    bool
 24  influence                     624 non-null    float64
 25  loaned_in                     624 non-null    int64
 26  loaned_out                    624 non-null    int64
 27  loans_in                      624 non-null    int64
 28  loans_out                     624 non-null    int64
 29  minutes                       624 non-null    int64
 30  news                          125 non-null    object
 31  news_added                    624 non-null    object
 32  now_cost                      624 non-null    int64
 33  own_goals                     624 non-null    int64
 34  penalties_missed              624 non-null    int64
 35  penalties_saved               624 non-null    int64
 36  photo                         624 non-null    object
 37  points_per_game               624 non-null    float64
 38  red_cards                     624 non-null    int64
 39  saves                         624 non-null    int64
 40  second_name                   624 non-null    object
 41  selected_by_percent           624 non-null    float64
 42  special                       624 non-null    bool
 43  squad_number                  624 non-null    object
 44  status                        624 non-null    object
 45  team                          624 non-null    int64
 46  team_code                     624 non-null    int64
 47  threat                        624 non-null    float64
 48  total_points                  624 non-null    int64
 49  transfers_in                  624 non-null    int64
 50  transfers_in_event            624 non-null    int64
 51  transfers_out                 624 non-null    int64
 52  transfers_out_event           624 non-null    int64
 53  value_form                    624 non-null    float64
 54  value_season                  624 non-null    float64
 55  web_name                      624 non-null    object
 56  yellow_cards                  624 non-null    int64
dtypes: bool(2), float64(10), int64(34), object(11)
memory usage: 274.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 666 entries, 1 to 652
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   assists                       666 non-null    int64
 1   bonus                         666 non-null    int64
 2   bps                           666 non-null    int64
 3   chance_of_playing_next_round  666 non-null    object
 4   chance_of_playing_this_round  666 non-null    object
 5   clean_sheets                  666 non-null    int64
 6   code                          666 non-null    int64
 7   cost_change_event             666 non-null    int64
 8   cost_change_event_fall        666 non-null    int64
 9   cost_change_start             666 non-null    int64
 10  cost_change_start_fall        666 non-null    int64
 11  creativity                    666 non-null    float64
 12  creativity_rank               666 non-null    int64
 13  creativity_rank_type          666 non-null    int64
 14  dreamteam_count               666 non-null    int64
 15  element_type                  666 non-null    int64
 16  ep_next                       666 non-null    object
 17  ep_this                       666 non-null    float64
 18  event_points                  666 non-null    int64
 19  first_name                    666 non-null    object
 20  form                          666 non-null    float64
 21  goals_conceded                666 non-null    int64
 22  goals_scored                  666 non-null    int64
 23  ict_index                     666 non-null    float64
 24  ict_index_rank                666 non-null    int64
 25  ict_index_rank_type           666 non-null    int64
 26  in_dreamteam                  666 non-null    bool
 27  influence                     666 non-null    float64
 28  influence_rank                666 non-null    int64
 29  influence_rank_type           666 non-null    int64
 30  minutes                       666 non-null    int64
 31  news                          192 non-null    object
 32  news_added                    666 non-null    object
 33  now_cost                      666 non-null    int64
 34  own_goals                     666 non-null    int64
 35  penalties_missed              666 non-null    int64
 36  penalties_saved               666 non-null    int64
 37  photo                         666 non-null    object
 38  points_per_game               666 non-null    float64
 39  red_cards                     666 non-null    int64
 40  saves                         666 non-null    int64
 41  second_name                   666 non-null    object
 42  selected_by_percent           666 non-null    float64
 43  special                       666 non-null    bool
 44  squad_number                  666 non-null    object
 45  status                        666 non-null    object
 46  team                          666 non-null    int64
 47  team_code                     666 non-null    int64
 48  threat                        666 non-null    float64
 49  threat_rank                   666 non-null    int64
 50  threat_rank_type              666 non-null    int64
 51  total_points                  666 non-null    int64
 52  transfers_in                  666 non-null    int64
 53  transfers_in_event            666 non-null    int64
 54  transfers_out                 666 non-null    int64
 55  transfers_out_event           666 non-null    int64
 56  value_form                    666 non-null    float64
 57  value_season                  666 non-null    float64
 58  web_name                      666 non-null    object
 59  yellow_cards                  666 non-null    int64
dtypes: bool(2), float64(10), int64(37), object(11)
memory usage: 308.3+ KB

## Player table

The player table contains between 600-666 players each year and 56
columns on the first three years, 59 columns in the fourth year. The
following columns were added *(creativity_rank, creativity_rank_type,
influence_rank, influence_rank_type, ict_index_rank,
ict_index_rank_type, threat_rank, threat_rank_type, news_added)*, the
following columns were removed *(loans_in, loans_out, loaned_in,
loaned_out, ea_index)*

For yearly summary training, the following columns are not believed to
be useful *(photo, news, news_added, in_dreamteam,fist_name, web_name, second_name)*

The following columns are not useful for yearly analysis but are
probably highly likely to be useful for weekly predictions
*(chance_of_playing_next_round, chance_of_playing_this_round, ep_this,
ep_next, cost_change_event, cost_change_event_fall)*.

Note the column *ep_this* and *ep_next* which is FPL's prediction of
points this and next game. We will remove that as it is likely to
cause over-fitting on our own model.

In [19]:
useful_columns = ['assists',
                  'bonus',
                  'bps',
#                  'chance_of_playing_next_round',
#                  'chance_of_playing_this_round',
                  'clean_sheets',
                  'code',
#                  'cost_change_event',
#                  'cost_change_event_fall',
                  'cost_change_start',
                  'cost_change_start_fall',
                  'creativity',
                  'dreamteam_count',
#                  'ea_index',
                  'element_type',
#                  'ep_next',
#                  'ep_this',
                  'event_points',
                  'form',
                  'goals_conceded',
                  'goals_scored',
                  'ict_index',
#                  'id',
                  'in_dreamteam',
                  'influence',
                  'minutes',
                  'now_cost',
                  'own_goals',
                  'penalties_missed',
                  'penalties_saved',
                  'points_per_game',
                  'red_cards',
                  'saves',
                  'selected_by_percent',
                  'special',
                  'squad_number',
                  'status',
                  'team',
                  'team_code',
                  'threat',
                  'total_points',
                  'transfers_in',
                  'transfers_in_event',
                  'transfers_out',
                  'transfers_out_event',
                  'value_form',
                  'value_season',
                  'yellow_cards']


c = {}
for i in useful_columns:
    print("\n*** {:} ***".format(i))
    for y in years:
        c[i] = praw[y][i]
        print("=== {:} ===".format(y))
        print(c[i].describe())

*** assists ***
=== 2016-17 ===
count    683.000000
mean       1.373353
std        2.516163
min        0.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       21.000000
Name: assists, dtype: float64
=== 2017-18 ===
count    647.000000
mean       1.401855
std        2.508659
min        0.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       18.000000
Name: assists, dtype: float64
=== 2018-19 ===
count    624.000000
mean       1.495192
std        2.536408
min        0.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       15.000000
Name: assists, dtype: float64
=== 2019-20 ===
count    666.000000
mean       1.352853
std        2.395509
min        0.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       23.000000
Name: assists, dtype: float64

*** bonus ***
=== 2016-17 ===
count    683.000000
mean       3.582723
std        5.724629
min        0.000000
25%        0.000000
50%        0.000000
75%        5.000000
max       33.000000
Name: bonus, dtype: float64
=== 2017-18 ===
count    647.000000
mean       3.737249
std        5.535046
min        0.000000
25%        0.000000
50%        1.000000
75%        6.000000
max       31.000000
Name: bonus, dtype: float64
=== 2018-19 ===
count    624.000000
mean       3.881410
std        5.901713
min        0.000000
25%        0.000000
50%        1.000000
75%        6.000000
max       35.000000
Name: bonus, dtype: float64
=== 2019-20 ===
count    666.000000
mean       3.645646
std        5.884141
min        0.000000
25%        0.000000
50%        1.000000
75%        5.000000
max       40.000000
Name: bonus, dtype: float64

*** bps ***
=== 2016-17 ===
count    683.000000
mean     212.420205
std      225.113091
min        0.000000
25%        3.000000
50%      140.000000
75%      371.000000
max      920.000000
Name: bps, dtype: float64
=== 2017-18 ===
count    647.000000
mean     222.346213
std      222.968672
min       -1.000000
25%        8.000000
50%      171.000000
75%      382.000000
max      913.000000
Name: bps, dtype: float64
=== 2018-19 ===
count    624.000000
mean     221.038462
std      221.378815
min       -2.000000
25%        9.750000
50%      158.500000
75%      375.750000
max      932.000000
Name: bps, dtype: float64
=== 2019-20 ===
count    666.000000
mean     206.606607
std      215.591444
min        0.000000
25%        3.000000
50%      148.000000
75%      355.250000
max      988.000000
Name: bps, dtype: float64

*** clean_sheets ***
=== 2016-17 ===
count    683.000000
mean       3.553441
std        4.155482
min        0.000000
25%        0.000000
50%        2.000000
75%        6.000000
max       17.000000
Name: clean_sheets, dtype: float64
=== 2017-18 ===
count    647.000000
mean       3.948995
std        4.315591
min        0.000000
25%        0.000000
50%        3.000000
75%        7.000000
max       19.000000
Name: clean_sheets, dtype: float64
=== 2018-19 ===
count    624.000000
mean       3.756410
std        4.378368
min        0.000000
25%        0.000000
50%        3.000000
75%        6.000000
max       21.000000
Name: clean_sheets, dtype: float64
=== 2019-20 ===
count    666.000000
mean       3.524024
std        4.109061
min        0.000000
25%        0.000000
50%        2.000000
75%        6.000000
max       18.000000
Name: clean_sheets, dtype: float64

*** code ***
=== 2016-17 ===
count       683.000000
mean      84967.679356
std       60636.907937
min        1616.000000
25%       40072.000000
50%       61603.000000
75%      126185.500000
max      243532.000000
Name: code, dtype: float64
=== 2017-18 ===
count       647.000000
mean      94522.741886
std       67113.675162
min        1243.000000
25%       42660.000000
50%       78412.000000
75%      150457.000000
max      433154.000000
Name: code, dtype: float64
=== 2018-19 ===
count       624.000000
mean     109319.924679
std       73887.873362
min        3773.000000
25%       51935.250000
50%       90816.000000
75%      167925.000000
max      450314.000000
Name: code, dtype: float64
=== 2019-20 ===
count       666.000000
mean     138386.315315
std       99327.213838
min        6744.000000
25%       59799.000000
50%      111615.000000
75%      198630.500000
max      490098.000000
Name: code, dtype: float64

*** cost_change_start ***
=== 2016-17 ===
count    683.000000
mean      -1.885798
std        2.544355
min      -10.000000
25%       -3.000000
50%       -2.000000
75%        0.000000
max       11.000000
Name: cost_change_start, dtype: float64
=== 2017-18 ===
count    647.000000
mean      -1.525502
std        2.324765
min       -9.000000
25%       -3.000000
50%       -1.000000
75%        0.000000
max       16.000000
Name: cost_change_start, dtype: float64
=== 2018-19 ===
count    624.000000
mean      -1.576923
std        2.388545
min      -10.000000
25%       -3.000000
50%       -1.500000
75%        0.000000
max       14.000000
Name: cost_change_start, dtype: float64
=== 2019-20 ===
count    666.000000
mean      -1.641141
std        2.415873
min       -9.000000
25%       -3.000000
50%       -2.000000
75%        0.000000
max       16.000000
Name: cost_change_start, dtype: float64

*** cost_change_start_fall ***
=== 2016-17 ===
count    683.000000
mean       1.885798
std        2.544355
min      -11.000000
25%        0.000000
50%        2.000000
75%        3.000000
max       10.000000
Name: cost_change_start_fall, dtype: float64
=== 2017-18 ===
count    647.000000
mean       1.525502
std        2.324765
min      -16.000000
25%        0.000000
50%        1.000000
75%        3.000000
max        9.000000
Name: cost_change_start_fall, dtype: float64
=== 2018-19 ===
count    624.000000
mean       1.576923
std        2.388545
min      -14.000000
25%        0.000000
50%        1.500000
75%        3.000000
max       10.000000
Name: cost_change_start_fall, dtype: float64
=== 2019-20 ===
count    666.000000
mean       1.641141
std        2.415873
min      -16.000000
25%        0.000000
50%        2.000000
75%        3.000000
max        9.000000
Name: cost_change_start_fall, dtype: float64

*** creativity ***
=== 2016-17 ===
count     683.000000
mean      172.420644
std       261.146195
min         0.000000
25%         0.000000
50%        57.500000
75%       250.550000
max      1702.000000
Name: creativity, dtype: float64
=== 2017-18 ===
count     647.000000
mean      173.251314
std       250.047119
min         0.000000
25%         0.000000
50%        64.800000
75%       265.800000
max      1744.200000
Name: creativity, dtype: float64
=== 2018-19 ===
count     624.000000
mean      179.224679
std       251.409180
min         0.000000
25%         0.100000
50%        75.950000
75%       260.250000
max      1515.000000
Name: creativity, dtype: float64
=== 2019-20 ===
count     666.000000
mean      163.811111
std       238.562644
min         0.000000
25%         0.000000
50%        57.050000
75%       246.075000
max      1990.800000
Name: creativity, dtype: float64

*** dreamteam_count ***
=== 2016-17 ===
count    683.000000
mean       0.612006
std        1.209797
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        9.000000
Name: dreamteam_count, dtype: float64
=== 2017-18 ===
count    647.000000
mean       0.646059
std        1.235409
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max       11.000000
Name: dreamteam_count, dtype: float64
=== 2018-19 ===
count    624.000000
mean       0.669872
std        1.261858
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        9.000000
Name: dreamteam_count, dtype: float64
=== 2019-20 ===
count    666.000000
mean       0.776276
std        1.581693
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        9.000000
Name: dreamteam_count, dtype: float64

*** element_type ***
=== 2016-17 ===
count    683.000000
mean       2.625183
std        0.868179
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: element_type, dtype: float64
=== 2017-18 ===
count    647.000000
mean       2.604328
std        0.860833
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: element_type, dtype: float64
=== 2018-19 ===
count    624.000000
mean       2.592949
std        0.859849
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: element_type, dtype: float64
=== 2019-20 ===
count    666.000000
mean       2.582583
std        0.860108
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        4.000000
Name: element_type, dtype: float64

*** ep_this ***
=== 2016-17 ===
count    683.000000
mean       0.016252
std        0.757707
min       -1.500000
25%       -0.200000
50%        0.000000
75%        0.450000
max        2.400000
Name: ep_this, dtype: float64
=== 2017-18 ===
count    647.000000
mean       1.265070
std        1.882036
min       -1.500000
25%        0.000000
50%        0.500000
75%        2.300000
max        9.700000
Name: ep_this, dtype: float64
=== 2018-19 ===
count    624.000000
mean       1.279006
std        1.883499
min       -1.500000
25%        0.000000
50%        0.700000
75%        2.200000
max       11.800000
Name: ep_this, dtype: float64
=== 2019-20 ===
count    666.000000
mean       1.231381
std        1.855807
min       -1.500000
25%        0.000000
50%        0.500000
75%        2.100000
max       12.100000
Name: ep_this, dtype: float64

*** event_points ***
=== 2016-17 ===
count    683.000000
mean       1.250366
std        2.580149
min       -2.000000
25%        0.000000
50%        0.000000
75%        1.000000
max       17.000000
Name: event_points, dtype: float64
=== 2017-18 ===
count    647.000000
mean       1.336940
std        2.626534
min       -2.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       18.000000
Name: event_points, dtype: float64
=== 2018-19 ===
count    624.000000
mean       1.355769
std        2.639075
min       -4.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       16.000000
Name: event_points, dtype: float64
=== 2019-20 ===
count    666.000000
mean       1.199700
std        2.350633
min       -2.000000
25%        0.000000
50%        0.000000
75%        1.000000
max       19.000000
Name: event_points, dtype: float64

*** form ***
=== 2016-17 ===
count    683.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: form, dtype: float64
=== 2017-18 ===
count    647.000000
mean       1.304019
std        1.635438
min        0.000000
25%        0.000000
50%        0.500000
75%        2.300000
max        9.200000
Name: form, dtype: float64
=== 2018-19 ===
count    624.000000
mean       1.351603
std        1.780065
min       -0.500000
25%        0.000000
50%        0.500000
75%        2.200000
max       10.800000
Name: form, dtype: float64
=== 2019-20 ===
count    666.000000
mean       1.256607
std        1.667719
min        0.000000
25%        0.000000
50%        0.400000
75%        2.100000
max       10.600000
Name: form, dtype: float64

*** goals_conceded ***
=== 2016-17 ===
count    683.000000
mean      17.136164
std       17.692732
min        0.000000
25%        0.000000
50%       13.000000
75%       29.000000
max       75.000000
Name: goals_conceded, dtype: float64
=== 2017-18 ===
count    647.000000
mean      17.307573
std       16.804641
min        0.000000
25%        1.000000
50%       14.000000
75%       30.000000
max       63.000000
Name: goals_conceded, dtype: float64
=== 2018-19 ===
count    624.000000
mean      18.897436
std       18.237836
min        0.000000
25%        1.000000
50%       15.000000
75%       33.000000
max       78.000000
Name: goals_conceded, dtype: float64
=== 2019-20 ===
count    666.000000
mean      17.078078
std       16.908953
min        0.000000
25%        0.000000
50%       13.000000
75%       30.750000
max       71.000000
Name: goals_conceded, dtype: float64

*** goals_scored ***
=== 2016-17 ===
count    683.000000
mean       1.506589
std        3.313246
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max       29.000000
Name: goals_scored, dtype: float64
=== 2017-18 ===
count    647.000000
mean       1.527048
std        3.292095
min        0.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       32.000000
Name: goals_scored, dtype: float64
=== 2018-19 ===
count    624.000000
mean       1.663462
std        3.362843
min        0.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       22.000000
Name: goals_scored, dtype: float64
=== 2019-20 ===
count    666.000000
mean       1.503003
std        3.270394
min        0.000000
25%        0.000000
50%        0.000000
75%        2.000000
max       23.000000
Name: goals_scored, dtype: float64

*** ict_index ***
=== 2016-17 ===
count    683.000000
mean      60.093851
std       73.687929
min        0.000000
25%        0.300000
50%       36.500000
75%       96.600000
max      453.400000
Name: ict_index, dtype: float64
=== 2017-18 ===
count    647.000000
mean      62.536785
std       72.356213
min        0.000000
25%        1.850000
50%       39.300000
75%      100.200000
max      454.400000
Name: ict_index, dtype: float64
=== 2018-19 ===
count    624.000000
mean      65.674679
std       74.282354
min        0.000000
25%        2.300000
50%       43.300000
75%       97.850000
max      432.700000
Name: ict_index, dtype: float64
=== 2019-20 ===
count    666.000000
mean      60.220270
std       71.268005
min        0.000000
25%        0.425000
50%       39.250000
75%       93.400000
max      432.100000
Name: ict_index, dtype: float64

*** in_dreamteam ***
=== 2016-17 ===
count       683
unique        2
top       False
freq        672
Name: in_dreamteam, dtype: object
=== 2017-18 ===
count       647
unique        2
top       False
freq        636
Name: in_dreamteam, dtype: object
=== 2018-19 ===
count       624
unique        2
top       False
freq        613
Name: in_dreamteam, dtype: object
=== 2019-20 ===
count       666
unique        2
top       False
freq        655
Name: in_dreamteam, dtype: object

*** influence ***
=== 2016-17 ===
count     683.000000
mean      241.104246
std       270.365677
min         0.000000
25%         0.900000
50%       143.400000
75%       437.600000
max      1357.800000
Name: influence, dtype: float64
=== 2017-18 ===
count     647.000000
mean      267.690263
std       280.839000
min         0.000000
25%         6.700000
50%       204.800000
75%       455.700000
max      1496.200000
Name: influence, dtype: float64
=== 2018-19 ===
count     624.000000
mean      276.444872
std       285.648944
min         0.000000
25%         7.750000
50%       187.000000
75%       458.650000
max      1306.200000
Name: influence, dtype: float64
=== 2019-20 ===
count     666.000000
mean      249.890991
std       268.725237
min         0.000000
25%         1.200000
50%       171.100000
75%       435.750000
max      1322.200000
Name: influence, dtype: float64

*** minutes ***
=== 2016-17 ===
count     683.000000
mean     1100.218155
std      1098.188535
min         0.000000
25%        13.000000
50%       775.000000
75%      2027.500000
max      3420.000000
Name: minutes, dtype: float64
=== 2017-18 ===
count     647.000000
mean     1158.383308
std      1089.495943
min         0.000000
25%        35.500000
50%       987.000000
75%      2039.000000
max      3420.000000
Name: minutes, dtype: float64
=== 2018-19 ===
count     624.000000
mean     1200.594551
std      1109.337238
min         0.000000
25%        61.750000
50%       976.000000
75%      2109.750000
max      3420.000000
Name: minutes, dtype: float64
=== 2019-20 ===
count     666.000000
mean     1124.833333
std      1101.101809
min         0.000000
25%        11.250000
50%       865.000000
75%      2034.250000
max      3420.000000
Name: minutes, dtype: float64

*** now_cost ***
=== 2016-17 ===
count    683.000000
mean      50.442167
std       12.422219
min       38.000000
25%       43.000000
50%       46.000000
75%       53.000000
max      127.000000
Name: now_cost, dtype: float64
=== 2017-18 ===
count    647.000000
mean      51.264297
std       12.945337
min       38.000000
25%       44.000000
50%       47.000000
75%       54.000000
max      131.000000
Name: now_cost, dtype: float64
=== 2018-19 ===
count    624.000000
mean      50.490385
std       12.376254
min       38.000000
25%       43.000000
50%       47.000000
75%       54.000000
max      132.000000
Name: now_cost, dtype: float64
=== 2019-20 ===
count    666.000000
mean      50.363363
std       11.915244
min       38.000000
25%       43.000000
50%       47.000000
75%       53.000000
max      125.000000
Name: now_cost, dtype: float64

*** own_goals ***
=== 2016-17 ===
count    683.000000
mean       0.051245
std        0.257459
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: own_goals, dtype: float64
=== 2017-18 ===
count    647.000000
mean       0.046368
std        0.250723
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        4.000000
Name: own_goals, dtype: float64
=== 2018-19 ===
count    624.000000
mean       0.054487
std        0.266200
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        3.000000
Name: own_goals, dtype: float64
=== 2019-20 ===
count    666.000000
mean       0.049550
std        0.217176
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: own_goals, dtype: float64

*** penalties_missed ***
=== 2016-17 ===
count    683.000000
mean       0.036603
std        0.202929
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: penalties_missed, dtype: float64
=== 2017-18 ===
count    647.000000
mean       0.037094
std        0.233130
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        3.000000
Name: penalties_missed, dtype: float64

=== 2018-19 ===
count    624.000000
mean       0.030449
std        0.220977
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        3.000000
Name: penalties_missed, dtype: float64
=== 2019-20 ===
count    666.000000
mean       0.030030
std        0.195434
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: penalties_missed, dtype: float64

*** penalties_saved ***
=== 2016-17 ===
count    683.000000
mean       0.024890
std        0.189833
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: penalties_saved, dtype: float64
=== 2017-18 ===
count    647.000000
mean       0.032457
std        0.230487
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        3.000000
Name: penalties_saved, dtype: float64
=== 2018-19 ===
count    624.000000
mean       0.025641
std        0.217935
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        3.000000
Name: penalties_saved, dtype: float64
=== 2019-20 ===
count    666.000000
mean       0.025526
std        0.184212
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: penalties_saved, dtype: float64

*** points_per_game ***
=== 2016-17 ===
count    683.000000
mean       2.018448
std        1.606835
min        0.000000
25%        0.800000
50%        2.000000
75%        3.100000
max       11.500000
Name: points_per_game, dtype: float64
=== 2017-18 ===
count    647.000000
mean       2.131839
std        1.567256
min        0.000000
25%        1.000000
50%        2.200000
75%        3.100000
max        9.000000
Name: points_per_game, dtype: float64
=== 2018-19 ===
count    624.000000
mean       2.111218
std        1.497253
min        0.000000
25%        1.000000
50%        2.100000
75%        3.100000
max        7.000000
Name: points_per_game, dtype: float64
=== 2019-20 ===
count    666.000000
mean       1.970571
std        1.487433
min        0.000000
25%        1.000000
50%        2.000000
75%        2.900000
max        8.400000
Name: points_per_game, dtype: float64

*** red_cards ***
=== 2016-17 ===
count    683.000000
mean       0.060029
std        0.255551
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: red_cards, dtype: float64
=== 2017-18 ===
count    647.000000
mean       0.060278
std        0.250847
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: red_cards, dtype: float64
=== 2018-19 ===
count    624.000000
mean       0.075321
std        0.276007
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: red_cards, dtype: float64
=== 2019-20 ===
count    666.000000
mean       0.067568
std        0.274093
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: red_cards, dtype: float64

*** saves ***
=== 2016-17 ===
count    683.000000
mean       3.245974
std       16.496364
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      142.000000
Name: saves, dtype: float64
=== 2017-18 ===
count    647.000000
mean       3.333849
std       17.137302
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      145.000000
Name: saves, dtype: float64
=== 2018-19 ===
count    624.000000
mean       3.583333
std       17.817501
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      148.000000
Name: saves, dtype: float64
=== 2019-20 ===
count    666.000000
mean       3.337838
std       17.327061
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max      139.000000
Name: saves, dtype: float64

*** selected_by_percent ***
=== 2016-17 ===
count    683.000000
mean       2.231772
std        4.797760
min        0.000000
25%        0.100000
50%        0.300000
75%        2.000000
max       33.200000
Name: selected_by_percent, dtype: float64
=== 2017-18 ===
count    647.000000
mean       2.317311
std        5.072720
min        0.000000
25%        0.100000
50%        0.400000
75%        2.200000
max       56.700000
Name: selected_by_percent, dtype: float64
=== 2018-19 ===
count    624.000000
mean       2.401122
std        5.451707
min        0.000000
25%        0.100000
50%        0.400000
75%        1.925000
max       42.700000
Name: selected_by_percent, dtype: float64
=== 2019-20 ===
count    666.000000
mean       2.248949
std        5.335212
min        0.000000
25%        0.100000
50%        0.350000
75%        1.700000
max       48.900000
Name: selected_by_percent, dtype: float64

*** special ***
=== 2016-17 ===
count       683
unique        1
top       False
freq        683
Name: special, dtype: object
=== 2017-18 ===
count       647
unique        1
top       False
freq        647
Name: special, dtype: object
=== 2018-19 ===
count       624
unique        1
top       False
freq        624
Name: special, dtype: object
=== 2019-20 ===
count       666
unique        1
top       False
freq        666
Name: special, dtype: object

*** squad_number ***
=== 2016-17 ===
count     683
unique     66
top        17
freq       22
Name: squad_number, dtype: object
=== 2017-18 ===
count     647
unique     65
top        11
freq       22
Name: squad_number, dtype: object
=== 2018-19 ===
count     624
unique     62
top         9
freq       23
Name: squad_number, dtype: object
=== 2019-20 ===
count      666
unique       1
top       None
freq       666
Name: squad_number, dtype: object

*** status ***
=== 2016-17 ===
count     683
unique      5
top         a
freq      498
Name: status, dtype: object
=== 2017-18 ===
count     647
unique      6
top         a
freq      467
Name: status, dtype: object
=== 2018-19 ===
count     624
unique      5
top         a
freq      499
Name: status, dtype: object
=== 2019-20 ===
count     666
unique      6
top         a
freq      474
Name: status, dtype: object

*** team ***
=== 2016-17 ===
count    683.000000
mean      10.620791
std        5.783583
min        1.000000
25%        6.000000
50%       11.000000
75%       16.000000
max       20.000000
Name: team, dtype: float64
=== 2017-18 ===
count    647.000000
mean      10.672334
std        5.886509
min        1.000000
25%        6.000000
50%       11.000000
75%       16.000000
max       20.000000
Name: team, dtype: float64
=== 2018-19 ===
count    624.000000
mean      10.519231
std        5.804986
min        1.000000
25%        5.750000
50%       10.000000
75%       16.000000
max       20.000000
Name: team, dtype: float64
=== 2019-20 ===
count    666.000000
mean      10.582583
std        5.831462
min        1.000000
25%        5.000000
50%       11.000000
75%       16.000000
max       20.000000
Name: team, dtype: float64

*** team_code ***
=== 2016-17 ===
count    683.000000
mean      40.499268
std       33.565202
min        1.000000
25%       13.000000
50%       31.000000
75%       57.000000
max      110.000000
Name: team_code, dtype: float64
=== 2017-18 ===
count    647.000000
mean      35.851623
std       32.387929
min        1.000000
25%       11.000000
50%       31.000000
75%       57.000000
max      110.000000
Name: team_code, dtype: float64
=== 2018-19 ===
count    624.000000
mean      33.503205
std       29.658949
min        1.000000
25%        8.000000
50%       21.000000
75%       43.000000
max       97.000000
Name: team_code, dtype: float64
=== 2019-20 ===
count    666.000000
mean      28.632132
std       26.229664
min        1.000000
25%        7.000000
50%       20.000000
75%       43.000000
max       91.000000
Name: team_code, dtype: float64

*** threat ***
=== 2016-17 ===
count     683.000000
mean      188.295754
std       300.947424
min         0.000000
25%         0.000000
50%        58.000000
75%       259.000000
max      1896.000000
Name: threat, dtype: float64
=== 2017-18 ===
count     647.000000
mean      184.641422
std       292.522511
min         0.000000
25%         0.000000
50%        63.000000
75%       239.000000
max      2355.000000
Name: threat, dtype: float64
=== 2018-19 ===
count     624.000000
mean      201.467949
std       307.938627
min         0.000000
25%         0.000000
50%        80.000000
75%       273.250000
max      2168.000000
Name: threat, dtype: float64
=== 2019-20 ===
count     666.000000
mean      188.858859
std       309.390973
min         0.000000
25%         0.000000
50%        61.500000
75%       241.000000
max      2156.000000
Name: threat, dtype: float64

*** total_points ***
=== 2016-17 ===
count    683.000000
mean      45.559297
std       49.608295
min        0.000000
25%        1.000000
50%       31.000000
75%       76.500000
max      264.000000
Name: total_points, dtype: float64
=== 2017-18 ===
count    647.000000
mean      48.590417
std       49.778028
min        0.000000
25%        2.000000
50%       36.000000
75%       82.500000
max      303.000000
Name: total_points, dtype: float64
=== 2018-19 ===
count    624.000000
mean      49.729167
std       51.273779
min        0.000000
25%        2.000000
50%       37.000000
75%       79.250000
max      259.000000
Name: total_points, dtype: float64
=== 2019-20 ===
count    666.000000
mean      46.564565
std       49.826582
min        0.000000
25%        1.000000
50%       33.000000
75%       76.750000
max      251.000000
Name: total_points, dtype: float64

*** transfers_in ***
=== 2016-17 ===
count    6.830000e+02
mean     1.981605e+05
std      4.598359e+05
min      0.000000e+00
25%      1.965000e+03
50%      1.936000e+04
75%      1.530100e+05
max      4.044050e+06
Name: transfers_in, dtype: float64
=== 2017-18 ===
count    6.470000e+02
mean     3.068321e+05
std      6.546339e+05
min      0.000000e+00
25%      4.525500e+03
50%      4.261100e+04
75%      2.689560e+05
max      5.323924e+06
Name: transfers_in, dtype: float64
=== 2018-19 ===
count    6.240000e+02
mean     3.267655e+05
std      7.444408e+05
min      0.000000e+00
25%      4.403250e+03
50%      3.458550e+04
75%      2.504692e+05
max      5.302762e+06
Name: transfers_in, dtype: float64
=== 2019-20 ===
count    6.660000e+02
mean     3.702561e+05
std      8.379612e+05
min      0.000000e+00
25%      5.407500e+03
50%      4.250250e+04
75%      3.136832e+05
max      6.122288e+06
Name: transfers_in, dtype: float64

*** transfers_in_event ***
=== 2016-17 ===
count    683.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: transfers_in_event, dtype: float64
=== 2017-18 ===
count    647.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: transfers_in_event, dtype: float64
=== 2018-19 ===
count    624.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: transfers_in_event, dtype: float64
=== 2019-20 ===
count    666.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: transfers_in_event, dtype: float64

*** transfers_out ***
=== 2016-17 ===
count    6.830000e+02
mean     1.981604e+05
std      4.260816e+05
min      0.000000e+00
25%      4.345500e+03
50%      2.954900e+04
75%      1.692105e+05
max      3.691225e+06
Name: transfers_out, dtype: float64
=== 2017-18 ===
count    6.470000e+02
mean     3.068350e+05
std      6.110730e+05
min      0.000000e+00
25%      7.387000e+03
50%      5.964200e+04
75%      3.058275e+05
max      5.113596e+06
Name: transfers_out, dtype: float64
=== 2018-19 ===
count    6.240000e+02
mean     3.267653e+05
std      6.735745e+05
min      0.000000e+00
25%      9.624000e+03
50%      5.247100e+04
75%      3.053148e+05
max      4.677736e+06
Name: transfers_out, dtype: float64
=== 2019-20 ===
count    6.660000e+02
mean     3.702561e+05
std      7.643833e+05
min      0.000000e+00
25%      9.130250e+03
50%      5.551850e+04
75%      3.214570e+05
max      5.254123e+06
Name: transfers_out, dtype: float64

*** transfers_out_event ***
=== 2016-17 ===
count    683.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: transfers_out_event, dtype: float64
=== 2017-18 ===
count    647.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: transfers_out_event, dtype: float64
=== 2018-19 ===
count    624.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: transfers_out_event, dtype: float64
=== 2019-20 ===
count    666.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: transfers_out_event, dtype: float64

*** value_form ***
=== 2016-17 ===
count    683.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: value_form, dtype: float64
=== 2017-18 ===
count    647.000000
mean       0.241267
std        0.303407
min        0.000000
25%        0.000000
50%        0.100000
75%        0.400000
max        1.800000
Name: value_form, dtype: float64
=== 2018-19 ===
count    624.000000
mean       0.252564
std        0.320653
min       -0.100000
25%        0.000000
50%        0.100000
75%        0.400000
max        1.900000
Name: value_form, dtype: float64
=== 2019-20 ===
count    666.000000
mean       0.227327
std        0.281197
min        0.000000
25%        0.000000
50%        0.100000
75%        0.400000
max        1.400000
Name: value_form, dtype: float64

*** value_season ***
=== 2016-17 ===
count    683.000000
mean       8.293119
std        8.156296
min        0.000000
25%        0.200000
50%        6.400000
75%       14.750000
max       29.200000
Name: value_season, dtype: float64
=== 2017-18 ===
count    647.000000
mean       8.845286
std        8.285980
min        0.000000
25%        0.400000
50%        7.500000
75%       15.600000
max       33.400000
Name: value_season, dtype: float64
=== 2018-19 ===
count    624.000000
mean       9.124038
std        8.500380
min        0.000000
25%        0.500000
50%        7.700000
75%       15.525000
max       33.500000
Name: value_season, dtype: float64
=== 2019-20 ===
count    666.000000
mean       8.502402
std        8.308484
min        0.000000
25%        0.200000
50%        6.700000
75%       15.075000
max       32.700000
Name: value_season, dtype: float64

*** yellow_cards ***
=== 2016-17 ===
count    683.000000
mean       2.036603
std        2.659594
min        0.000000
25%        0.000000
50%        1.000000
75%        3.000000
max       14.000000
Name: yellow_cards, dtype: float64
=== 2017-18 ===
count    647.000000
mean       1.795981
std        2.268054
min        0.000000
25%        0.000000
50%        1.000000
75%        3.000000
max       11.000000
Name: yellow_cards, dtype: float64
=== 2018-19 ===
count    624.000000
mean       1.956731
std        2.533826
min        0.000000
25%        0.000000
50%        1.000000
75%        3.000000
max       14.000000
Name: yellow_cards, dtype: float64
=== 2019-20 ===
count    666.000000
mean       1.920420
std        2.544279
min        0.000000
25%        0.000000
50%        1.000000
75%        3.000000
max       12.000000
Name: yellow_cards, dtype: float64